{% extends 'mailing/base.html' %}
{% block content %}
<br>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="cart-body">
                <div class="card-body">
                    {{ form }}
                    <h3 class="mb-2">Title: {{ object.name }}</h3>
                    <p class="mb-2">Body: {{ object.body }}</p>
                </div>
                <div class="card-footer">
                    {% if  object.is_active == True %}
                    <p class="mb-2">Active</p>
                    {% else %}
                    <p class="mb-2">Inactive</p>
                    {% endif %}
                    <p class="mb-2">{{ get_is_active }}</p>
                    <p class="mb-2">Status: {{ object.status }}</p>
                    <p class="mb-2">Started: {{ object.first_send }}</p>
                    <p class="mb-2">Stopped: {{ object.timestamp }}</p>
                    <div class=" mb-2"> Frequency: {{ object.get_frequency_display }}</div>
                    <div class=" mb-6"> Author: {{ object.user }}</div>
                    <input type="button" onclick="history.back();" value="Back"/>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}