{% extends 'mailing/base.html' %}
{% block content %}

<title>Mailing</title>

<main role="main" class="inner cover">
    <h2 class="cover-heading">Mailing list</h2>

    <h3 class="card-title"><a class="btn btn-outline-primary" href="{% url 'mailing:mailing_create' %}">New mailing</a>
    </h3>
    <br>
</main>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for object in objects_list %}
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ object.message }}</h3>
                {% if object.is_active == True %}
                <div class=" mb-2"> Active </div>
                {% else %}
                <div class=" mb-2"> Inactive </div>
                {% endif %}
            </div>
            <div class="card-body">
                <p class="card-text">{{ object.body|truncatechars:100 }}</p>
            </div>
            <div class="card-footer">
                <div class=" mb-2"> Author: {{ object.user }}</div>
                <a class="mb-4"></a>
                <a class="btn btn-outline-primary " href="{% url 'mailing:mailing_detail' object.pk %}">Details</a>
                <a class="btn btn-outline-primary "
                   href="{% url 'mailing:mailing_edit' object.pk %}">Edit</a>
                <a class="btn btn-outline-primary " href="{% url 'mailing:mailing_delete' object.pk %}">Delete</a>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}