

<header data-bs-theme="dark">

    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3  border-bottom">
            <div class="col-md-3 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"/>
                    </svg>
                </a>
            </div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'mailing:index' %}" class="nav-link px-2">Home</a></li>
                <li><a href="{% url 'mailing:mailing_list' %}" class="nav-link px-2">Mailing list</a></li>
                <li><a href="{% url 'mailing:mailing_log_list' %}" class="nav-link px-2">Mailing log</a></li>
                <li><a href="{% url 'mailing:client_list' %}" class="nav-link px-2">Clients</a></li>
                <li><a href="{% url 'blog:list' %}" class="nav-link px-2">Blog</a></li>

            </ul>
        </header>
    </div>

    <div class="container">
        <header class="d-flex flex-wrap align-items-left justify-content-left  mb-4 border-bottom">
            <div class="col-md-3 mb-1 ">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <svg class="bi" width="40" height="10" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"/>
                    </svg>
                </a>
            </div>
        </header>
    </div>

</header>